In [1]:
import numpy as np
import pandas as pd
import openpyxl 
import matplotlib.pyplot as plt

import keras
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
from keras.layers import Embedding
from keras.layers import LSTM

Using TensorFlow backend.

In [18]:
#데이터 분리
data=pd.read_excel('testfile.xls') #엑셀 불러옴
data.head() #파일 확인
pddata=pd.DataFrame(data) 
pddata.head()

,248,248.1,248.2,248.3,248.4,248.5,248.6,248.7,248.8,248.9,...,247.13,247.14,247.15,246,246.1,246.2,246.3,246.4,246.5,245
0,366,366,366,366,366,366,366,366,366,366,...,292,288,288,288,284,284,284,281,281,278
1,217,217,217,217,217,217,217,217,217,217,...,288,295,295,295,303,303,303,309,309,315
2,357,357,357,357,357,357,357,357,357,357,...,236,227,227,227,218,218,211,211,205,205
3,181,181,181,181,181,181,181,181,181,183,...,298,302,302,302,306,306,311,317,317,317
4,342,342,342,342,344,344,344,344,344,344,...,488,495,495,495,503,503,503,510,510,515

In [19]:
x_data=np.array(pddata.loc[0])
y_data=np.array(pddata.loc[1])
s_data=np.array(pddata.loc[2])

In [27]:
# setdata=np.arange(27).reshape(9,3) # 18개방.2*9 로

hap=[] #[x,y,속력] 데이터를 저장하고 있는 리스트

for i in range(len(x_data)): 
    sum=[] #리스트 하나당 임시로 x,y,속력을 저장할 리스트 (for문 돌릴때마다 초기화)
    sum.append(x_data[i]) #x넣음
    sum.append(y_data[i]) #y넣음
    sum.append(s_data[i]) #속력넣음
    hap.append(sum) #[x,y,속력] 하나의 리스트를 hap리스트에 넣음

for j in hap:
    print(j)

[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 357]
[366, 217, 358]
[366, 217, 358]
[366, 217, 358]
[366, 217, 358]
[366, 217, 358]
[366, 217, 358]
[366, 217, 358]
[366, 217, 358]
[366, 217, 355]
[366, 217, 355]
[366, 217, 355]
[366, 217, 353]
[366, 217, 353]
[366, 217, 350]
[366, 217, 350]
[363, 217, 350]
[363, 218, 347]
[361, 218, 347]
[361, 218, 342]
[357, 221, 342]
[357, 221, 336]
[352, 221, 336]
[352, 222, 336]
[346, 222, 328]
[346, 222, 328]
[346, 226, 328]
[342, 226, 323]
[342, 226, 323]
[336, 230, 323]
[336, 230, 315]
[330, 234, 315]
[330, 234, 308]
[324, 238, 308]
[324, 238, 299]
[324, 238, 299]
[320, 244, 299]
[320, 244, 290]
[316, 244, 290]
[316, 251, 282]
[311, 251, 282]
[311, 251, 273]
[311, 258, 273]
[307, 258, 273]
[307, 266, 264]
[302, 266, 264]
[302, 266, 255]
[300, 273, 255]
[300, 273, 255]
[300, 273, 246]
[297, 281, 246]
[297, 281, 246]
[297, 288, 236]
[292, 288, 236]
[292, 288, 236]
[288, 295, 227]
[288, 295, 227]
[288, 295, 227]
[284, 303, 218]
[284, 303, 218]
[284, 303, 211]
[281, 309, 211]
[281, 309, 205]
[278, 315, 205]

In [28]:
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size=0.8, test_size=0.2,shuffle=False)

x_train, x_val, y_train, y_val = train_test_split(X_train, y_ train, test_ size=0.8, shuffle=False)

model = Sequential()
model.add(LSTM(, input_shape=(1,3),return_Sequences=True)) # (timestep, feature)
model.add(LSTM(#노드 수,return_Sequences=True))
model.add(LSTM(,return_Sequences=False))
model.add(Dense(1, activation='softmax') #output = 1

model.compile(loss='ctegorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])


model.fit(x_train,y_train,epochs=10,batch_size=10
         validation_data=(x_val, y_val)) # total data set is 100

SyntaxError: invalid syntax (<ipython-input-28-c9d87312dee4>, line 3)